@import "../Emoklore.module"

.container
    display: flex
    flex-direction: column
    @include column-width-left()
    padding-bottom: 16px
    background-color: transparent

    & > *:not(:first-child)
        padding: 0px 8px 8px 8px

.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-left: 8px

    & > :first-child
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-top: 8px
        margin-bottom: 16px
        width: 210px
